<form method="post" action="{{ path(path_delete, {'id': data.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ data.id) }}">
    <h3 align="right"><button class="btn btn-dark btn-sm"><i class="fa fa-trash"></i> {{'label.delete' | trans}}</button></h3>
</form>
