{% if cmsPage.cmsPageContent[8] is defined and cmsPage.cmsPageContent[8].isActive %}
    <section class="news-events-sec">
        <div class="container">
            {{ cmsPage.cmsPageContent[8].pageContent|raw }}
{#            <div class="row row-lg">#}
{#                <div class="col-md-6" data-aos="fade-right" data-aos-delay="200">#}
{#                    <figure class="news-events-img"> <img src="resources/images/news-events.jpg">#}
{#                        <figcaption>#}
{#                            <div class="left-sec">#}
{#                                <div class="date">July 15, 2020</div>#}
{#                                <span> <i class="fa fa-file-text-o"></i>#}
{#                <h6>News</h6>#}
{#                </span> </div>#}
{#                            <div class="right-sec"> <b>Real estate developers rely on drones for site visits</b> </div>#}
{#                        </figcaption>#}
{#                    </figure>#}
{#                </div>#}
{#                <div class="col-md-6" data-aos="fade-right" data-aos-delay="200">#}
{#                    <ul class="news-dtls-sec">#}
{#                        <li>#}
{#                            <figure data-aos="fade-right" data-aos-delay="400"> <img src="resources/images/news-thumb.jpg"> </figure>#}
{#                            <div>#}
{#                                <div class="date" data-aos="fade-right" data-aos-delay="500">July 15, 2020</div>#}
{#                                <div class="news-wrapper" data-aos="fade-right" data-aos-delay="500"> <span class="icon"> <i class="fa fa-file-text-o"></i> </span>#}
{#                                    <div>#}
{#                                        <h6>News</h6>#}
{#                                        <h5>Special situation funds, NBFCs eye investment opportunities in stressed real estate</h5>#}
{#                                    </div>#}
{#                                </div>#}
{#                            </div>#}
{#                        </li>#}
{#                        <li>#}
{#                            <figure data-aos="fade-right" data-aos-delay="400"> <img src="resources/images/news-thumb2.jpg"> </figure>#}
{#                            <div data-aos="fade-right" data-aos-delay="500">#}
{#                                <div class="date">July 15, 2020</div>#}
{#                                <div class="news-wrapper"> <span class="icon"> <i class="fa fa-calendar"></i> </span>#}
{#                                    <div>#}
{#                                        <h6>Events</h6>#}
{#                                        <h5>This pandemic, can PropTech help break real estate barriers</h5>#}
{#                                    </div>#}
{#                                </div>#}
{#                            </div>#}
{#                        </li>#}
{#                    </ul>#}
{#                </div>#}
{#            </div>#}
        </div>
    </section>
{% endif %}