{% if cmsPage.cmsPageContent[3] is defined and cmsPage.cmsPageContent[3].isActive %}
    <section class="offer">
        <div class="container">
            {{ cmsPage.cmsPageContent[3].pageContent|raw }}
{#            <div class="row">#}
{#                <div class="col-md-6" data-aos="fade-right" data-aos-delay="200">#}
{#                    <div class="proj-dtls">#}
{#                        <figure> <img src="/resources/images/proj-thmb-1.png"> </figure>#}
{#                        <figcaption>#}
{#                            <div>#}
{#                                <h2 class="text-uppercase">Limited Lockdown Period Offer</h2>#}
{#                                <h3><b>We Pay Your#}
{#                                        12 Months PRE-EMI*</b></h3>#}
{#                                <h2>Kalpataru Vienta</h2>#}
{#                                <h5>Kalpataru Group</h5>#}
{#                                <h6>Kandivali, Mumbai</h6>#}
{#                                <a class="btn btn-primary btn-sm" href="#">Know More</a> </div>#}
{#                        </figcaption>#}
{#                    </div>#}
{#                </div>#}
{#                <div class="col-md-6" data-aos="fade-right" data-aos-delay="400">#}
{#                    <div class="proj-dtls">#}
{#                        <figure> <img src="/resources/images/proj-thmb-2.png"> </figure>#}
{#                        <figcaption>#}
{#                            <div>#}
{#                                <h2>Price <s><i class="fa fa-rupee"></i> 19.13 Lakhs</s></h2>#}
{#                                <h3><b>Now <i class="fa fa-rupee"></i> 16.13 Lakhs</b> Onwards</h3>#}
{#                                <h2>Shapoorji Pallonji Northern Lights</h2>#}
{#                                <h5>Shapoorji Pallonji Real Estate</h5>#}
{#                                <h6>Vaghela Estate, Thane</h6>#}
{#                                <a class="btn btn-primary btn-sm" href="#">Know More</a> </div>#}
{#                        </figcaption>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
        </div>
    </section>
{% endif %}