header.dark {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 95px;
}
header.light { background-color: #fff; }

/* Navigation Styles */
nav { position: relative;  }
header.dark nav {background: rgba(255,255,255,1);box-shadow: 1px 4px 8px #8a8787;padding: 0;display: inline-block;width: 100%;}
header.fixedHeader.dark nav {background: rgba(255,255,255,1);height: 91px;transition: all 0.5s ease;}
header.fixedHeader.dark .navbar-brand {height: 90px;}
header.fixedHeader.dark ul.main-nav > li.nav-rental a > i,
header.fixedHeader.dark ul.main-nav > li.nav-agents a > i {/* top:0 */}
header.light nav { background-color:rgba(0,0,0,0.5); }
ul.main-nav {list-style-type: none;padding: 0px;font-size: 0px;margin: 0;margin-left:0px;transition: all 0.5s ease;/* padding-top: 1.1rem; */}
header.fixedHeader ul.main-nav {margin-left: 0px;padding-top: 0;}
header.fixedHeader .navbar-brand > img{height: 80px;width: 90px;transition: all 0.5s ease;}
/* header.fixedHeader ul.main-nav > li > a {padding: 10px 16px;} */
header.fixedHeader .top-nav-sec .top-links {margin: 0.2rem 0rem 0rem;}
header.fixedHeader .top-nav-sec {padding-left: 0;/* background: #ccc; */}
header.fixedHeader ul.main-nav > li > a {display: block;padding: 0;padding-left: 30px;padding-right: 4rem;padding-top: 1rem;padding-bottom: 2.5rem;}

header.fixedHeader ul.main-nav > li.nav-properties a {/* padding-left: 0; */}
header.fixedHeader ul.main-nav > li.nav-furniture a {padding-left: 2.2rem;}
header.fixedHeader ul.main-nav > li.nav-experience a {padding-left:2.2rem;}
/* header.fixedHeader ul.main-nav > li:hover > .sub-menu-block {top: 48px;min-width: 310px;} */

ul.main-nav > li {display: inline-block;padding: 0;/* padding-left: 2rem; */}
ul.main-nav > li > a.nav-link:hover {color:#E79F0D;}
ul.main-nav > li > a {display: block;padding: 0;position: relative;color: #000;font-size: 14px;font-weight: 700;box-sizing: border-box;padding-left: 30px;padding-right: 5rem;padding-top: 1rem;padding-bottom: 2.5rem;/* background: #ff0000; */}
ul.main-nav > li:hover  {color: #E79F0D; }
ul.main-nav > li .top-links {display:none;}
ul.main-nav > li:hover > a {color: #000;font-weight: 700;position: relative;cursor: pointer;}
ul.main-nav > li.active > a {color: #e79f0d;font-weight: 700;}
ul.main-nav > li.active.free-demo a {background: #fff;color: #073449 !important;border: 1px solid #073449 !important;}
ul.main-nav > li ul.sub-menu-lists {margin: 0;padding: 0px;list-style-type : none;}
ul.main-nav > li ul.sub-menu-lists > li {padding: 2px 0;margin-bottom: 25px;}
ul.main-nav > li ul.sub-menu-lists > li > a {font-size: 15px;color: #ffffff;font-weight: bold;padding-left: 35px;padding-bottom: 15px;border-bottom: 3px rgba(255, 255, 255, .2) solid;display: block;position: relative;}
ul.main-nav > li ul.sub-menu-lists > li.active > a,
ul.main-nav > li ul.sub-menu-lists > li > ul > li.active > a {color:#f48606;}
ul.main-nav > li ul.sub-menu-lists > li > a ~ ul {margin-bottom:0;}
ul.main-nav > li ul.sub-menu-lists > li > a:hover {color: #f48606;}
ul.main-nav > li ul.sub-menu-lists > li > ul {margin: 0;padding: 0;border-bottom: 3px rgba(255, 255, 255, .2) solid;}
ul.main-nav > li ul.sub-menu-lists > li > ul > li{list-style: none;margin: 0;padding: 10px 0;padding-left: 33px;line-height: normal;}
ul.main-nav > li ul.sub-menu-lists > li > ul > li + li {border-top: 1px rgba(255, 255, 255, .2) solid;}
ul.main-nav > li ul.sub-menu-lists > li > ul > li > a {font-size: 15px;color: #ffffff;font-weight: 500;display: block;}
ul.main-nav > li ul.sub-menu-lists > li > ul > li > a:hover {color: #f48606;}
ul.main-nav > li.free-demo a{position: absolute;top:0;right: 0;background: #F48606;border: 1px solid #F48606 !important;padding: 16.5px 0.6rem !important;font-weight: 500;}
ul.main-nav > li.free-demo a:hover{background:#fff;color: #073449 !important;border: 1px solid #073449 !important;}
ul.main-nav > li .insights ul.sub-menu-lists > li > ul > li {padding-left: 0;}
/* ul.main-nav > li:hover > a:before{content:'';position: absolute;bottom: 0;left: 20px;height: 10px;width: calc(100% - 40px);background: #0067B3;display: block;} */
ul.main-nav > li.free-demo:hover a:before {display: none;}
.ic {position: fixed;cursor: pointer;display: inline-block;right: 25px;width: 32px;height: 24px;text-align: center;top:0px;outline: none;}
.ic.close {opacity: 0;font-size: 0px;font-weight: 300;color: #F48606;top:8px;height:40px; display: block;outline: none;z-index: 9;}

/* Menu Icons for Devices*/
.ic.menu {top: 16px;z-index : 20;}
header.fixedHeader.dark .ic.menu {top:20px}
header.fixedHeader.dark .ic.menu.open {top: 36px;}
.ic.menu .line { height: 4px;width: 100%;display: block;margin-bottom: 4px;}
.ic.menu .line-last-child { margin-bottom: 0px;  }
.sub-menu-head { margin: 10px 0; }
.banners-area { margin-top: 20px; padding-top: 15px; }
.row-zero > .subnav-inside {background: rgba(255, 255, 255, 0.15);padding: 1.5rem 2rem !important;color: #ffffff;max-width: 450px;margin-left: auto;}
.subnav-inside h4 {color:#ffffff}
.subnav-inside > div {border-bottom:3px rgba(255, 255, 255, .2) solid;padding-bottom: 2rem;}
.menu-open:before {
content: '';
background: #fcf3e2;
overflow: hidden;
position: absolute;
display: inline-block;
width: 100%;
height: 100%;
}
ul.main-nav > li.nav-agents:hover > .sub-menu-block.typ2 {min-width: 310px;}
ul.main-nav > li > .sub-menu-block {margin:0;padding:0;list-style-type: none;}
ul.main-nav > li:hover > .sub-menu-block.typ2 {margin:0;padding:0;list-style-type: none;min-width: 580px;left: 0;top: 57px;background: #fff;border-top: 5px solid #E79F0D;}
ul.main-nav > li:hover > .sub-menu-block {margin:0;padding:0 22px;list-style-type: none;min-width: 200px;left: 0;top: 57px;background: #fff;border-top: 5px solid #E79F0D;}
ul.main-nav > li:hover > .sub-menu-block:before {content:'';border-top: 10px solid transparent;border-right: 10px solid transparent;border-bottom: 10px solid #E79F0D;border-left: 10px solid transparent;top: 0;position: absolute;display: inline-block;margin-top: -25px;left: 5%;}

ul.main-nav > li:hover > .sub-menu-block li {display: inline-block;width: 32%;padding: 1rem 0 1rem;list-style: none;vertical-align: top;}
ul.main-nav > li:hover > .sub-menu-block li ul {margin:0;padding: 0;list-style-type: none;min-height: auto;}
ul.main-nav > li:hover > .sub-menu-block li ul li {width: 155px;display: block;/* padding: 1rem 0; */margin: 0 auto;padding: 0;border-bottom: 2px dotted #E79F0D;}
ul.main-nav > li:hover > .sub-menu-block li ul li:last-child {border-bottom: none;}
ul.main-nav > li:hover > .sub-menu-block li ul li a {font-size: 14px;font-weight: 600;color:#000;/* margin: 10px; */padding: 10px 0 10px 18px;width: 155px;display: block;position: relative;}
ul.main-nav > li:hover > .sub-menu-block li ul li a:hover{color:#E79F0D;}
ul.main-nav > li:hover > .sub-menu-block li ul li a:before {content:'';background:url('/resources/images/icons/sm-arrow.png');width: 11px;height: 11px;position: absolute;left: 0;top: 0;margin-top: 16px;object-fit: cover;background-size: 100%;}
ul.main-nav > li:hover > .sub-menu-block li ul li >ul {padding-left: 20px;}
ul.main-nav > li:hover > .sub-menu-block li ul li >ul>li {border-bottom: 0;}
ul.main-nav > li:hover > .sub-menu-block li ul li >ul>li a {padding: 0px 0 0px 18px;font-weight: 300;}
ul.main-nav > li:hover > .sub-menu-block li ul li >ul>li a:before {content:"\f111";background: none;font-size: 0.5rem;top:0;margin-top:5px; }
/* ul.main-nav > li:hover > .sub-menu-block:after {width:50%;right:0;content:'';background: #f9fad8;position: absolute;top: 0;height: 100%;z-index: -1;} */


@media only screen and (max-width:1199px) {
  /* ul.main-nav > li > a {padding: 1rem 1.5rem;} */
  header.fixedHeader ul.main-nav {margin-left: 0;}
  header.fixedHeader ul.main-nav > li > a {padding-left: 11px 6px;padding-left: 2.5rem;}
  .about-wrapper {width: 100%;}
  .counting-sec {text-align: center;}
  ul.main-nav > li.social-media-icons {display: none;}
  ul.main-nav {margin-left:0px}
}

@media (max-width: 1024.98px) {
ul.main-nav {margin-left: 0;padding-top: 0;}
ul.main-nav > li > a {padding: 20px 30px;}
header.fixedHeader ul.main-nav > li > a {padding: 20px 30px;}
}
@media only screen and (max-width:991px) {
  ul.main-nav > li > .sub-menu-block .left-menu > .row > div{padding: 1rem 1rem 0 1.7rem;}
  ul.main-nav > li > a {font-size: 12px;padding: 20px 30px;}
  /* ul.main-nav > li > a {padding: 14px 14px !important;font-size: 13px;} */
  ul.main-nav.menu-open > li.social-media-icons {display: block;}
  header.fixedHeader ul.main-nav > li > a {padding-left: 0px;position: relative;padding: 20px 30px;}
  /* header.fixedHeader .top-nav-sec {width: 85%;} */
  header.fixedHeader .top-nav-sec {padding-left: 0;width: 85%;}
  header.fixedHeader ul.main-nav > li.nav-properties a {padding-left:1.5rem;}
}


@media only screen and (max-width: 767px) {
.sub-menu-head { color:orange; }
.ic.menu {display: block;padding: 4px;background: #E79F0D;height: 29px;width: 30px;border-radius: 5px;top: 18px;right: 15px;}
.ic.close {top: 58px;right: 15px;}
ul.main-nav > li:hover > a:before {display:none;}
header.dark .ic.menu .line {background-color: #fff;transition: all 0.5s ease;} 
header.light .ic.menu .line { background-color: #000; }
.ic.menu:hover{opacity: 1;} 
.menu-open ~ .ic.close { opacity: 1.0; z-index : 21;  }
.ic.menu.open .line:nth-child(1) {-webkit-transform: rotate(45deg);-moz-transform: rotate(45deg);-ms-transform: rotate(45deg);transform: rotate(45deg);margin-top: 8px;transition: all 0.5s ease;}
.ic.menu.open .line:nth-child(2){-webkit-transform: rotate(-45deg);-moz-transform: rotate(-45deg);-ms-transform: rotate(-45deg);transform: rotate(-45deg);margin-top: -8px;transition: all 0.5s ease;}
.ic.menu.open .line:nth-child(3){transform: translateY(0);opacity: 0;}
.ic.close:focus { opacity: 0; }
header.fixedHeader .top-nav-sec .top-links {margin:0.2rem 0rem 0.5rem}
/* .ic.menu:focus{opacity: 1;} */


nav { background-color: transparent; }

/* Main Menu for Handheld Devices  */
ul.main-nav {
  z-index:2;
  padding: 0px 0;
  position: fixed;
  right: 0px;
  top: 0;
  width: 0px;
  background-color: rgb(247, 247, 247);
  height: 100%;
  overflow: auto;
  /*CSS animation applied : Slide from Right*/
  -webkit-transition-property: background, width;
  -moz-transition-property: background, width;
  -o-transition-property: background, width;
  transition-property: background, width;
  -webkit-transition-duration: 0.6s;
  -moz-transition-duration: 0.6s;
  -o-transition-duration: 0.6s;
  transition-duration: 0.6s;
}
body.menu-open {overflow: hidden;}  
.menu-open { width: 50%; background-color:rgb(7, 52, 73); }
.subnav-inside {display: none;}
.menu-open > li > a {padding: 15px 12px !important;}
ul.main-nav > li.free-demo a {right: -10rem !important;width: max-content;display: none !important;opacity: 0 !important;}
.menu-open > li > .sub-menu-block .left-menu {padding: 0;}
.menu-open > li ul.sub-menu-lists i{left: 0;top: 0;vertical-align: middle;position: absolute;}
.menu-open > li ul.sub-menu-lists i::before {width: 25px;height: 25px;display: inline-block;top: 4px;left: 0;position: absolute;background-size: contain;}
.menu-open > li ul.sub-menu-lists .fc-consulting-services::before{width: 30px;}
.menu-open > li > .sub-menu-block .left-menu > .row > div { -ms-flex: 0 0 100%;flex: 0 0 100%;max-width: 100%;padding: 0.5rem 2rem;}
ul.main-nav > li > a:after {display: none;}
ul.main-nav > li:first-child {border-radius: 0px;padding-top: 50px;}
ul.main-nav > li {display: block;border-bottom:none;padding: 0 23px;}
ul.main-nav > li > a,
ul.main-nav > li.top_menu > ul>li > a {font-weight: 600;border-bottom: 1px solid #000;padding: 8px 30px !important;font-size: 15px;color: #000;}
ul.main-nav > li.top_menu > ul>li > a {padding: 2px 0px !important;font-size: 14px;}
ul.main-nav > li.top_menu >ul {margin:0;padding:0;display: inline-block;width: 100%; margin-top:20px}
ul.main-nav > li ul.sub-menu-lists > li a { color: #eee; font-size: 14px; }
.sub-menu-head { font-size: 16px;}
ul.main-nav > li:hover { background-color: transparent;  }
ul.main-nav > li:hover > a {color: #df4e33;text-decoration: none;font-weight: 500;}
ul.main-nav.menu-open > li > .sub-menu-block {border-left: 0px solid #ccc;border-right: 0px solid #ccc;border-bottom: 0px solid #ccc;position: relative;visibility: visible;opacity: 1.0;}
.sub-menu-block { padding: 0 30px; }
.banners-area { padding-bottom: 0px;  }
.banners-area div { margin-bottom: 15px;  }
.banners-area { border-top: 1px solid #444; }
/* header.fixedHeader .navbar-brand > img {height: 100%;} */
header.fixedHeader.dark nav {height: 82px;}
header.fixedHeader.dark .ic.menu,
header.fixedHeader.dark .ic.close {top: 18px;}
header.fixedHeader ul.main-nav > li > a {padding: 10px 30px !important;}
ul.main-nav > li.nav-homeloans a > i,
ul.main-nav > li.nav-interiors a > i {margin-left:0;}
ul.main-nav.menu-open > li {padding-left: 20px;width: 100%;}
}

@media (max-width: 767px) {
header.fixedHeader.dark .ic.menu.open {top: 10px;}
ul.main-nav > li:first-child {padding-top: 10px;}
header.fixedHeader ul.main-nav {height: 100%; overflow: hidden;overflow-y: scroll;}
header.fixedHeader .menu-open:before {height: 122%;}
ul.main-nav > li.social-media-icons {display: block;}
header.fixedHeader .navbar-brand > img {
  height: 60px;
  width: 80px;
  transition: all 0.5s ease;
}
header.fixedHeader.dark nav {
height: 72px;
}
header.fixedHeader .top-nav-sec {width:50%;}
/* ul.main-nav > li.social-media-icons {bottom: -20%;} */
}

@media only screen and (min-width: 768px) {
.ic.menu { display: none; }
/* Main Menu for Desktop Devices  */
ul.main-nav {display: block;position: relative;}
.sub-menu-block { padding: 15px; }

/* Sub Menu */
ul.main-nav > li > .sub-menu-block {
  
/* visibility: hidden; */
  
background-color: #f9f9f9;
  
position: absolute;
  
/* margin-top: 0px; */
  
width: 100%;
  
color: #333;
  
right: 0;
  
box-sizing: border-box;
  
z-index: 1;
  
/* font-size: 16px; */
  
opacity: 0;
  
list-style-type: none;
  
/*CSS animation applied for sub menu : Slide from Top */
  
-webkit-transition: all 0.4s ease 0s;
  
-o-transition: all 0.4s ease 0s;
  
transition: all 0.4s ease 0s;
  
-webkit-transform: rotateX(90deg);
  
-moz-transform: rotateX(90deg);
  
-ms-transform: rotateX(90deg);
  
transform: rotateX(90deg);
  
-webkit-transform-origin: top center;
  
-ms-transform-origin: top center;
  
transform-origin: top center;
  
padding: 0px;
border-bottom: 4px solid #000;
  
/* -webkit-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.75);
  
-moz-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.75);
  
box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.75); */
  
/* top: 42px; */
}

ul.main-nav > li:hover > .sub-menu-block{
  background-color: #fff;
  visibility: visible;
  opacity: 1;
  -webkit-transform: rotateX(0deg);
  -moz-transform: rotateX(0deg);
  -ms-transform: rotateX(0deg);
  transform: rotateX(0deg);
}
ul.main-nav > li:hover > .sub-menu-block.insights{
  background-color: #004B6E;
  max-width: 840px;
}
ul.main-nav > li:hover > .sub-menu-block.insights.vgmr {max-width: 890px;}
ul.main-nav > li:hover > .sub-menu-block.insights.vgmr .row-zero > .subnav-inside {max-width: 340px;}
ul.main-nav > li > .sub-menu-block.insights.vgmr .left-menu > .row > div {padding: 1rem 1rem 0 0rem;}
ul.main-nav > li .sub-menu-block.insights ul.sub-menu-lists > li > ul > li {padding-left:0;}
ul.main-nav > li > .sub-menu-block > * {
  -webkit-transition-property: opacity;
  -moz-transition-property: opacity;
  -o-transition-property: opacity;
  transition-property: opacity;
   -webkit-transition-duration: 0.4s;
  -moz-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  transition-duration: 0.4s;
  opacity: 0;
}
ul.main-nav > li > .sub-menu-block .bullet-list {padding:0;margin:0;list-style-type: none;}

ul.main-nav > li:hover > .sub-menu-block > * {
  opacity: 1;
}

.sub-menu-head {font-size: 20px;color: #ffffff;}
ul.main-nav > li > .sub-menu-block .left-menu{padding: 0.5rem 2rem;}
ul.main-nav > li > .sub-menu-block .left-menu > .row > div {padding: 1rem 1rem 0 1.7rem;}

ul.main-nav > li ul.sub-menu-lists i{left: 0;top: 0;vertical-align: middle;position: absolute;}
ul.main-nav > li ul.sub-menu-lists i::before {width: 25px;height: 25px;display: inline-block;top: 4px;left: 0;position: absolute;background-size: contain;}
ul.main-nav > li ul.sub-menu-lists .fc-consulting-services::before{width: 30px;}


}

@media (max-width: 575.98px) { 
.ic.menu,
.ic.close {top: 15px;right: 10px;}
header.fixedHeader.dark .ic.menu, header.fixedHeader.dark .ic.close {top: 16px;}
header .navbar-brand > img {width: 70px;height: 45px;}
header.fixedHeader .navbar-brand > img {width:70px;height: 45px;}
/* header.fixedHeader .top-nav-sec {padding-left: 80px;} */
header.fixedHeader .top-nav-sec .top-links {margin: 0.3rem 0rem 0.5rem 0;}
header.fixedHeader.dark nav {height: 62px;}
header.dark {height:55px;}
ul.main-nav > li.nav-rental a > i,
ul.main-nav > li.nav-logistics a > i {left:0;top: 10px;}
ul.main-nav > li > a {width: 100%;}
ul.main-nav > li:hover > .sub-menu-block {top:0;}
/* header.fixedHeader .top-nav-sec {width: 80%;} */
ul.main-nav > li.top_menu>ul>li > a {color:#000}
ul.main-nav > li:hover > .sub-menu-block.typ2 {top:0;min-width: 100%;}
ul.main-nav > li:hover > .sub-menu-block.typ2>li {display: block; width: 100%;padding: 0;}
.top-nav-sec .top-links ul li:last-child {display: none;}
ul.main-nav > li.top_menu>ul>li > a.btn-primary {width:100%;margin:10px 0;padding-bottom: 10px;border:0;height: 30px;color: #fff;}
ul.main-nav > li.top_menu>ul>li:last-child{border: 0;}
ul.main-nav > li.nav-agents .sub-menu-block.typ2 li .bullet-list li ul {display: none;}
ul.main-nav > li.nav-agents:hover .sub-menu-block.typ2 li .bullet-list li ul {display: inline-block;overflow: auto;height: 150px;}
ul.main-nav > li.nav-agents:hover > .sub-menu-block.typ2 {min-width: 100%;}

header.fixedHeader.dark .navbar-brand {height: 62px;}
ul.main-nav > li.nav-agents:hover > .sub-menu-block.typ2>li {padding: 1rem 0.5rem !important;}
ul.main-nav > li:hover > .sub-menu-block.typ2 {padding: 0px 10px 45px 10px;}
ul.main-nav > li.nav-agents:hover > .sub-menu-block.typ2>li>ul>li>ul>li:last-child a {position: absolute;bottom:16px;right:26px;}

}

/* 9 Sept */
ul.main-nav > li {padding-left: 0px;}
ul.main-nav > li>a {height: 44px;}
.top-nav-sec .top-links .select-destination { margin-left: 0rem;}
/* ul.main-nav > li.nav-agents:hover > .sub-menu-block.typ2 {min-width: 310px;} */
ul.main-nav > li.nav-agents:hover > .sub-menu-block.typ2>li {width:100%;padding:1rem 2rem}
ul.main-nav > li.nav-agents:hover > .sub-menu-block.typ2>li>ul {margin:0;padding:0;list-style-type: none;}
ul.main-nav > li.nav-agents:hover > .sub-menu-block.typ2>li>ul>li {width:100%;}
ul.main-nav > li.nav-agents:hover > .sub-menu-block.typ2>li>ul>li:last-child {border-bottom: 0;}
ul.main-nav > li.nav-agents:hover > .sub-menu-block.typ2>li>ul>li>ul {padding-left: 0;}
ul.main-nav > li.nav-agents:hover > .sub-menu-block.typ2>li>ul>li:first-child {width:100%;display: inline-block;padding-bottom: 10px;}
ul.main-nav > li.nav-agents:hover > .sub-menu-block.typ2>li>ul>li:first-child span {color:#000;height:50px;}
ul.main-nav > li.nav-agents:hover > .sub-menu-block.typ2>li>ul>li:first-child {font-size: 14px;color: #000;}
ul.main-nav > li.nav-agents:hover > .sub-menu-block.typ2>li>ul>li>ul>li {width:49%;display: inline-block;}
ul.main-nav > li.nav-agents:hover > .sub-menu-block.typ2>li>ul>li>ul>li>a {font-size: 14px;font-weight: 600;color: #000;padding: 8px 0 8px 18px;width: auto;display: block;position: relative;}
ul.main-nav > li.nav-agents:hover > .sub-menu-block.typ2 li ul li a:before {content: '';background: url(/resources/images/icons/sm-arrow.png);width: 11px;height: 11px;position: absolute;left: 0;top: -2px;margin-top: 16px;object-fit: cover;background-size: 100%;}
/*ul.main-nav > li.nav-agents:hover > .sub-menu-block.typ2>li>ul>li>ul>li:last-child {width: 100%;padding-top: 10px;}*/
/*ul.main-nav > li.nav-agents:hover > .sub-menu-block.typ2>li>ul>li>ul>li:last-child a {float: right;padding: 5px 10px;color:#E79F0D;font-weight: 600;width: 120px;}*/
/*ul.main-nav > li.nav-agents:hover > .sub-menu-block.typ2>li>ul>li>ul>li:last-child a:before {display: none;}*/

