{% extends 'portal/layout/index.html.twig' %}
{% block portal_content %}
    <div class="wrapper">
        <div class="container">
            <div class="thank-you text-center mt-5 mb-5">
                <img src="{{ asset('resources/images/icons/icon-check.png') }}">
                <h2>Thank <span>You!</span></h2>
                <p>Your enquiry has been submitted successfully. Our TRED Experts will contact you very shortly.</p>
                <a href="{{ path("portal_index") }}" class="btn btn-primary">Back to Home</a>
            </div>
        </div>
    </div>
{% endblock %}
