{% extends 'layout/content.html.twig' %}
{% block cms_content %}

<div class="card">
    <div class="card-header">
        {{ 'info.change_password'|trans }}
    </div>
    {{ include('user/_form.html.twig', {
        form:form,
        button_label: 'label.update'|trans,
    }) }}

</div>

{% endblock %}
